
body, h1, h2, h3, p, ul, li, a {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html, body {
    margin: 0;
    padding: 0;
    height: auto; 
    overflow-y: auto; 
}

.container-principal {
    height: auto;
    min-height: 100vh; 
    overflow: visible; 
    display: flex;
    flex-direction: column;
}


body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}




.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #d7266d;
    padding: 10px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
    height: 55px;
    transition: transform 0.3s ease-in-out; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.navbar .logo {
    font-size: 22px;
    font-weight: bold;
    font-style: italic;
    font-family: 'Georgia', serif; 
    color: #fff;
    text-decoration: none;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    margin-top: -17px;
}


.nav-links {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 22px;
}

.nav-links li {
    margin: 0 10px;
}
.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    padding: 5px 10px; 
    line-height: 8px; 
    vertical-align: top; 
    transition: color 0.3s ease;
}


.nav-links a:hover {
    
    color: #000000; 
}

.site-footer {
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 10px 0;
    text-align: center;
    transition: bottom 0.3s ease-in-out;
    z-index: 999;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);

}

.cart-link {
    color: #fff;
    font-size: 20px; 
    position: relative; 
    top: -5px;
}

.cart-count {
    background-color: #ffffff; 
    color: #8e083e;
    font-size: 12px;
    border-radius: 50%; 
    padding: 2px 5px; 
    position: absolute; 
    top: -5px;
    right: -10px; 
}

.carousel-inner {
    height: 400px;
    width: 100%;   
    margin-top: 40px;
    overflow: hidden; 
}
.carousel-item img {
    width: 100%;          
    height: 100%;      
    object-fit: cover;      
    display: block;
}




.about-section {
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 40px 20px; 
    padding-bottom: 100px;
    background-color: #ffffff;
    border-radius: 90px;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.1);
}

.about-image img {
    width: 100%; 
    max-width: 900px; 
    height: 400px; 
    object-fit: cover; 
    border-radius: 10px; 
    margin: 0 auto; 
    display: block; 
}

.about-content {
    margin-top: 30px; 
    margin: 0 auto; 
    max-width: 900px; 
    text-align: left;

}

.about-content h1 {
    font-size: 28px;
    color: #d7266d;
    margin-bottom: 20px;
    text-align: center;
    margin: 30px auto;
}


.about-content p {
    font-size: 16px;
    color: #000000;
    line-height: 1.6;
    margin-bottom: 20px;
}
.contact-section {
    max-width: 100%; 
    margin: 0 auto;
    padding: 40px 200px;
    background-color: #ffffff;
 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
    text-align: left;
    font-family: Arial, sans-serif; 
    margin-bottom: 20px;
}

.contact-section h1 {
    font-size: 28px;
    color: #d7266d; 
    text-align: center; 
    margin-bottom: 20px; 
}

.contact-section h2 {
    font-size: 20px;
    color: #d7266d; 
    margin-top: 30px;
    margin-bottom: 10px;
}

.contact-section p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px; 
}

.contact-section p1 {
    font-size: 17px;
    line-height: 1.5;
    margin-bottom: 10px; 
}

.contact-section a {
    font-size: 16px;
    color: #d7266d; 
    text-decoration: none;
}

.contact-section a:hover {
    text-decoration: underline; 
}


.contact-section input[type="text"],
.contact-section input[type="email"],

.custom-card .card-img-top {
    width: 100%; 
    height: 200px; 
    object-fit: cover; 
   
}


.card.bg-dark {
    background-color:  #f8d7da!important;  
    color: #ffffff !important; 
    margin-top: -20px !important;
    height: 400px;
}

.btn-outline-light {
    background-color: #d7266d; 
    color: #ffffff; 
    border: 2px solid #d7266d;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s, border-color 0.3s;
}


.card .fw-bold {
    color: #ffffff;  
}

.text-pink {
    color: #d7266d !important; 
    text-decoration: none; 
}
.form-group {
    margin-top: -10px; 
}


.container {
    font-family: 'Arial', sans-serif; 
}



.card {
    background-color: #f8d7da; 
   
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
    padding: 2rem; 
}


.card h2 {
    color: #d7266d; 
    font-weight: bold;
}


.card label {
    color:  #d7266d; 
    font-weight: bold;
}


.btn-primary {
    background-color: #d7266d; 
    border: none;
    border-radius: 10px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #861442; 
}


.alert-danger {
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #ffffff;
    border-radius: 10px;
    padding: 0.5rem;
}


.alert-success {
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #000000;
    border-radius: 10px;
    padding: 0.5rem;
}


.card a {
    color: #d7266d;
    text-decoration: none;
    font-weight: bold;
}

.card a:hover {
    text-decoration: underline;
}


.text-center {
    text-align: center;
}

.mt-3 {
    margin-top: 1rem;
}

.mb-3 {
    margin-bottom: 1rem;
}


.products-section {
    margin-top: 50px;  
    margin-bottom: 50px;
}

.custom-card {
    background-color: #ffffff; 
    border: 1px solid #f5c6cb; 
}


.custom-card .card-title {
    color: #000000;
    font-size: 16px;
}


.custom-card .btn {
    background-color: #d7266d; 
    color: white; 
    font-size: 15px; 
    padding: 8px 12px;
    
}


.custom-card .btn:hover {
    background-color: #fcfcfc; 
    color: #d7266d; 
}

.btn-primary {
    border-radius: 0 !important;
}


.product-container {
    display: flex; 
    align-items: center; 
    justify-content: flex-start; 
    gap: 100px; 
    margin-top: 35px;
    margin-bottom: 30px;
}

.product-image-detail {
    max-width: 100%; 
    height: auto; 
    max-width: 280px; 
}

.product-text {
    flex: 1; 
    margin-top: -130px;
}


.btn-custom-success {
    background-color: #d7266d; 
    color: white; 
    border: none; 
}

.btn-custom-success:hover {
    background-color: #d7266d; 
}


.btn-custom-danger {
    background-color: #820242; 
    color: white; 
    border: none; 
}
.btn-custom {
    background-color: #d7266d; 
    color: white; 
    border: none; 
}


.btn-custom-danger:hover {
    background-color: #820242;
}


.mobile-menu {
    display: none;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        background-color: #d7266d;
        position: absolute;
        top: 60px;
        right: 0;
        width: 100%;
        border-top: 1px solid #fff;
    }

    .nav-links.active {
        display: flex;
    }

    .mobile-menu {
        display: block;
    }
}
